*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal-container {
    width: 100%;
    height: 100vh;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 2rem 4rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.game-container {
    width: 100%;
    height: 100vh;
    background-color: tomato;
    display: none;
    justify-content: space-evenly;
    

}

section {
    width: 40%;
}

.img-left {
    background: url("../images/corona.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.completion {
    background-color: darkgoldenrod;
}

.char-item {
    font-size: 3rem;
}

.item-attempts {
    width: 100%;
    height: 13rem;
    display: flex;
}

.item-attempts .attempt {
    width: 110px;
    height: 110px;
    border-radius: 99%;
    background-color: darkcyan;
    -webkit-border-radius: 99%;
    -moz-border-radius: 99%;
    -ms-border-radius: 99%;
    -o-border-radius: 99%;
}